.header {
  background-color: #fff;
  height: 80px;
  width: 100%;
  padding: 0 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
  &:hover {
    color: #828588;
  }
}
.userAuthorizationBlock {
  display: flex;
  align-items: center;
  gap: 5px;
}
.btn {
  border-radius: 5px;
  cursor: pointer;
  color: #52c41a;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  background: transparent;
  border: 1px solid #52c41a;
  width: 109px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:active,
  &:hover {
    color: #fff;
    border: 1px solid #52c41a;
    background-color: #52c41a;
    border-radius: 5px;
  }
}

.createArticle {
  color: #52c41a;
  border: 1px solid #52c41a;
  border-radius: 5px;
  padding: 6px 10px;
}

.userBlock {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.userInfoBlock {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 25%;
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #fff;
}
